{% extends "todo_app/base.html" %}

 {% block title %}
            ABOUT PAGE
{% endblock title %}
{% block content %}
    <div class="p-5 mb-4 bg-light rounded-3">
       <div class="container-fluid py-5">
            <h1 class="display-2 text-center">To-Do List</h1>
            <p class="text-center lead">This is To_Do List for Django Web Development</p>
            <p class="text-center lead">You can use this To-Do list for your Django projects</p>
            <p class="text-center lead">Just follow the list</p>
            <p class="text-center lead">If you follow this list correctly,You will not make mistakes</p>
            <p class="text-center lead">You can update anything</p>
         <br><br>
            <center><button class="btn btn-outline-success btn-lg text-center" type="button">Create TO_DO List</button></center>
       </div>
    </div>
{% endblock content %}

